name: my_counter_app
description: A simple Flutter Counter App for learning.
# ആപ്പിന്റെ വേർഷൻ
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  # ഐക്കണുകൾക്ക് വേണ്ടിയുള്ള പാക്കേജ്
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  # മെറ്റീരിയൽ ഡിസൈൻ (Google Style) ഉപയോഗിക്കാൻ
  uses-material-design: true
